*{
    margin: 0;
    padding: 0;
}
body{
    background-color: goldenrod;
}
button{
    outline: none;
    border: 1.5px solid orangered;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 15px;
}
button:hover{
    color: white;
    background-color: orangered;
    transition: 0.5s;
}
.logo{
    width: 100px;
    position: absolute;
    z-index:999
}
.container{
    width: 600px;
    margin: 0px auto;
    text-align: center;
}
.nike{
    width: 500px;
}